<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :navn %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :detaljer %><br>
    <%= f.text_area :detail %>
  </div>
  <div class="field">
    <%= f.label :tid %><br>
    <%= f.datetime_local_field :date %>
  </div>
  <div class="field">
    <%= f.label :antal %><br>
    <%= f.number_field :number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
