<p id="notice"><%= notice %></p>

<h1>Arbejdsopgaver</h1>

<table>
  <thead>
    <tr>
      <th>Opgave</th>
      <th>ID</th>
      <th>Antal</th>
      <th>Tid</th>
      <th>Aktivitet</th>
      <th>Kategori</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.name, task %>&nbsp;</td>
        <td><%= task.id %>&nbsp;</td>
        <td><%= task.number %>&nbsp;</td>
        <td><%= task.date %>&nbsp;</td>
				<td><%= task.activity.nil? ? "" : task.activity.navn %>&nbsp;</td>
        <td><%= task.category %>&nbsp;</td>
        <td><%= link_to 'Redigér', edit_task_path(task) %></td>
        <td><%= link_to 'Slet', task, method: :delete, data: { confirm: 'Are you sure?' } if @username == 'admin' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render 'upload' %>
<%= link_to 'New Task', new_task_path %>edit_task_path(task)
