<p id="notice"><%= notice %></p>

<h1>Tilmeldinger</h1>

<table>
  <thead>
    <tr>
      <th>Navn</th>
      <th>K&oslash;n</th>
      <th>Medlemsnr</th>
      <th>Billettype</th>
      <th>email</th>
      <th>Mobil</th>
      <th>&Aring;rgang</th>
      <th>Indkvartering</th>
      <th colspan="3"></th>
    </tr>
  </thead>

	<tbody>
    <% @registrations.each do |registration| %>
      <tr>
        <td><%= registration.name %></td>
        <td><%= registration.koen %></td>
        <td><%= registration.member.number %></td>
        <td><%= registration.ticket_type.name %></td>
        <td><%= registration.email %></td>
        <td><%= registration.mobil %></td>
        <td><%= registration.aargang %></td>
        <td><%= registration.indkvartering %></td>
        <td><%= link_to 'Show', registration %></td>
        <td><%= link_to 'Edit', edit_registration_path(registration) %></td>
        <td><%= link_to 'Destroy', registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render 'upload' %>
<%= link_to 'New Registration', new_registration_path %>
