<p id="notice"><%= notice %></p>

<h1>Aktiviteter</h1>

<table>
  <thead>
    <tr>
      <th align="left"><%= sort_link "navn" %></th>
      <th align="left"><%= sort_link "sted" %></th>
      <th align="left"><%= sort_link "tid" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.navn %></td>
        <td><%= activity.sted %></td>
        <td><%= activity.tid %></td>
        <td><%= link_to 'Vis', activity %></td>
        <td><%= link_to 'Redigér', edit_activity_path(activity) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render 'upload' %>
<%= link_to 'Ny aktivitet', new_activity_path %>
