<p id="notice"><%= notice %></p>

<h1>Aktiviteter</h1>

<table><% alltickets = 0 %>
  <thead>
    <tr bgcolor="#<%= cycle('AFFFFF','FFFFFF') %>">
      <th align="left"><%= sort_link "navn" %>&nbsp;&nbsp;&nbsp;</th>
      <th align="left"><%= sort_link "sted" %>&nbsp;&nbsp;&nbsp;</th>
      <th align="left" width="150"><%= sort_link "tid" %></th>
      <th align="left"><%= sort_link "registration_id", "Tovholder" %>&nbsp;&nbsp;&nbsp;</th>
      <th align="left">Deltagere&nbsp;&nbsp;&nbsp;</th>
    </tr>
		</thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr bgcolor="#<%= cycle('AFFFFF','FFFFFF') %>">
        <td><%= link_to activity.navn, edit_activity_path(activity) %>&nbsp;&nbsp;&nbsp;</td>
        <td><%= activity.sted %>&nbsp;&nbsp;&nbsp;</td>
        <td><%= activity.tid.strftime('%d %b %Y %H:%M') %></td>
				<td><%= activity.registration.name if activity.registration %>&nbsp;&nbsp;&nbsp;</td>
				<td><%= activity.tickets.count if activity.tickets and activity.tickets.count != 0 %>&nbsp;&nbsp;&nbsp;</td>
				<% alltickets += activity.tickets.count if activity.tickets %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
Billetter i alt: <%= alltickets %>
<%= render 'upload' %>
<%= link_to 'Ny aktivitet', new_activity_path %>
