<p id="notice"><%= notice %></p>

<p>
  <strong>Navn:</strong>
  <%= @activity.navn %>
</p>

<p>
  <strong>Sted:</strong>
  <%= @activity.sted %>
</p>

<p>
  <strong>Tid:</strong>
  <%= @activity.tid %>
</p>

<p>
  <strong>Tovholder:</strong>
  <%= @activity.registration.name if @activity.registration %>
</p>

<p>
  <strong>Deltagerliste </strong>(<%= @activity.tickets.count %> deltagere)
</p>

<p>
	<table>
		<tr>
			<th align="left">Navn&nbsp;&nbsp;</th>
			<th align="left">Medlemsnr</th>
		</tr>
		<% @activity.tickets.each do |ticket| %>
			<tr>
					<td><%= ticket.name %>&nbsp;&nbsp;</td>
					<td><%= ticket.registration.member.number %></td>
			</tr>
		<% end %>
	</table>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
