<p id="notice"><%= notice %></p>

<p>
  <strong>Medlemsnr:</strong>
  <%= @member.number %>
</p>

<p>
  <strong>Navn:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
	<table>
		<tr>
			<th align="left">Navn&nbsp;</th>
			<th align="left">Billettype&nbsp;</th>
			<th align="left">Arbejdsopgave&nbsp;</th>
		</tr>
		<% @member.registrations.each do |registration| %>
			<% output = false %>
			<tr>
					<td valign="top"><%= registration.name %>&nbsp;</td>
					<td valign="top"><%= registration.ticket_type.name %>&nbsp;</td>
					<td>
						<% if registration.has_assignment? %>
							<% registration.assignments.each do |assignment| %>
									<%= assignment.task.activity.navn %>: <%= assignment.task.name %> - <%= assignment.task.date %><br/><% output = true %>
							<% end %>
							<% registration.activities.each do |activity| %>
								Tovholder for <%= link_to activity.navn, activity_path(activity) %><br/><% output = true %>
							<% end %>
							<% if output == false %>
								Arbejdsopgave ikke nødvendig.<br/>
							<% end %><br/>
						<% else %>
							Der skal vælges en arbejdsopgave:<br/>
							<strong>Forslag:</strong>
							<% registration.priority_tasks.each do |task| %>
								<% if not(task.name.nil?) %>
									<%= form_for(@assignment) do |f| %><%= f.submit "Vælg opgave" -%><%= task.activity.navn %>: <%= truncate(task.name, :length => 50, :separator => ' ') -%><%= f.hidden_field :registration_id, :value => registration.id -%><%= f.hidden_field :task_id, :value => task.id -%><% end -%>
								<% end %>
							<% end %>
						<% end %><br/>
					</td>
			</tr>
		<% end %>
	</table>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>

